<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sih2020">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".responsibleMan.RMRequestStepIndicator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroActivity">

        </activity>
        <activity android:name=".responsibleMan.ResponsiblemanComplaintsTabActivity" />
        <activity android:name=".responsibleMan.RMPendingRequestActivity" />
        <activity
            android:name=".serviceMan.ServicemanRequests"
            android:label="Request Status" />
        <activity android:name=".serviceMan.BottomNavigationActivity" />
        <activity android:name=".serviceMan.PendingComplaintsActivity" />
        <activity
            android:name=".serviceMan.UpdateActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".responsibleMan.ShowDetailsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".responsibleMan.GetMachineDetailsActivity"
            android:label="Machine Details "
            android:theme="@style/AppTheme.ProfileTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".responsibleMan.GenerateQRActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".responsibleMan.BottomNavigationActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".ScanQRActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>